@import "partials/media_queries";
@import "partials/colors";
@import "vendor/bootstrap_basic";
@import "vendor/datepicker";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700); //should host own fonts

html,
body {
	background-color: $background-color;
	margin: 0;
	padding: 0;
}

.app {
	color: $text-main-color;
	font-family: 'Lato';
	margin: 0 auto 50px;
	h1 {
		background-color: $text-main-color;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
		color: $background-color;
		margin: 0 auto;
		padding: 20px 0;
		text-align: center;
		span {
			font-style: italic;
		}
	}
}

.container {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	width: inherit;
	@include desktop {
		display: flex;
		justify-content: space-around;
		padding: 20px 30px 50px;
	}
}

.map {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
	border: 1px solid $border-color;
	width: 100%;
	@include desktop {
		height: 400px;
	}
	@include mobile {
		height: 300px;
	}
}

.column {
	padding: 0 30px;
	position: relative;
	@include desktop {
		&:nth-child(1) {
			width:65%;
		}
		&:nth-child(2) {
			width: 45%;
		}
	}
}

.results {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	@include desktop {
		margin: 40px 0;
		padding: 0 50px;
	}
	@include below-desktop {
		clear: both;
		overflow: auto;
		margin: 20px 0;
		padding: 0 30px;
		text-align: center;
	}
}

.resultBox {
	flex-basis: 150px;
	h2 {
		font-weight: lighter;
		@include mobile {
			font-size: 18px;
		}
	}
	p {
		font-family: "Georgia";
		font-weight: bold;
		@include tablet-up {
			font-size: 20px;
		}
		@include mobile {
			font-size: 16px;
		}
	}
}
