@import "partials/media_queries";
@import "vendor/bootstrap_basic";
@import "vendor/datepicker";

html,
body {
	margin: 0;
	padding: 0;
}

.app {
	border: 1px solid black;
	margin: 0 auto;
	max-width: 900px;
}

.container {
	display: flex;
	justify-content: space-around;
	width: inherit;
}

.map {
	height: 400px;
	width: 50%;
}

.sidebar {
	padding: 0 30px;
	width: 50%;
}
